---
layout: default
title: Experience
experience:
  - title: IT Service Desk Technician
    company: Metropolitan State University of Denver
    location: Denver, CO
    start: August 2024
    end: Present
    description:
      - Rendering call center and front desk IT support services to MSU Denver students, staff, and faculty.
      - Administering user account profiles and security in Microsoft Azure, Active Directory, and Intune.
      - Utilizing deductive reasoning to diagnose, escalate, and resolve hardware, software, and network issues.
      - Tracking support requests, incidents, interactions, and resolutions in the TeamDynamix management software.
      - Collaborating with other teams to orchestrate the resolution of specialized issues outside the scope of the service desk.
  - title: Consultation Agent
    company: Geek Squad
    location: Lone Tree, CO
    start: December 2022
    end: Present
    description:
      - Providing outstanding computer support and education to clients, ensuring long term relationships and patronage.
      - Documenting issues and recommendations in detail for other technicians to take over.
  - title: Frontend Developer
    company: NCH Software
    location: Greenwood Village, CO
    start: December 2021
    end: March 2022
    description:
      - Performed frontend feature updates, maintenance, and bug fixes for the Brisk Cloudware family of business web applications.
      - Implemented in-house branded subscription management UI supplanting the default Stripe views.
      - Manifested outstanding user experiences through style and functional overhauls.
      - Collaborated with other developers and management in every step of the development lifecycle.
      - Capitalized on prior experience to perform Linux and Windows server administration tasks.
  - title: Consultation Agent
    company: Geek Squad
    location: Lone Tree, CO
    start: June 2021
    end: December 2021
    description:
      - Provided computer support and education to clients.
      - Documented issues and recommendations in detail for advanced repair specialists to take over.
      - Tested and reconditioned returned products.
      - Delivered outstanding experiences to build long term client relationships and enduring patronage.
  - title: Full Stack Web Developer
    company: David Clifton Ministries
    location: Lakewood, CO
    start: January 2021
    end: May 2021
    freelance: true
    description:
      - Implemented internal food pantry management application using React, Express, and MongoDB.
      - Migrated data from existing MS Access database.
      - Communicated progress of project with management and met moving project requirements.
      - Trained ministry volunteers on operation of the software.
      - Furnished general IT support and improvements with the ministry's network and computers.
  - title: Retail Sales Advisor
    company: Best Buy
    location: Lone Tree, CO
    start: November 2019
    end: June 2021
    description:
      - Connected customers to comprehensive solutions encompassing the spectrum of products, software, and services that Best Buy has to offer.
      - Maintained positive vendor relationships by delivering unbiased sales recommendations.
  - title: Web Designer
    company: Jolie Stationary
    location: Denver, CO
    start: October 2017
    freelance: true
    description:
      - Created cover page for the client's site www.jolieandco.com.
      - Animated logo calligraphy with Adobe After Effects from Adobe Illustrator source files.
      - Optimized final animation to run smoothly on smartphones and tablets.
      - Integrated cover page with pre-existing Squarespace site and used various workarounds to go beyond Squarespace's styling restrictions.
---

<div>
  <h1 class="px-4">Experience</h1>
  {% for entry in page.experience %}
  <div class="card bg-primary shadow-soft border-light mb-4">
    <div class="card-body">
      <h4>{{ entry.title }} {% if entry.freelance %}<span class="ml-2 bg-dark text-white p-1 rounded-lg" style="font-size: 0.5em">Freelance / Project Basis</span>{% endif %}</h4>
      <p class="card-text">
        <span class="avoidwrap mr-3"><i class="fas fa-building mr-2"></i>{{ entry.company }}</span>
        <span class="avoidwrap mr-3"><i class="fas fa-map mr-2"></i>{{ entry.location }}</span>
        <span class="avoidwrap mr-3"><i class="fas fa-calendar mr-2"></i>{{ entry.start }}{% if entry.end %} - {{ entry.end }}{% endif %}</span>
      </p>
      <ul class="mb-0">
        {% for item in entry.description %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
