---
layout: default
title: Skills
skills:
  tools:
    - Git
    - GitHub
    - Microsoft Azure
    - Kubernetes
    - ArgoCD
    - Docker
    - UNIX/Linux Environments (Debian, Ubuntu, Alpine, RHEL & CentOS)
    - Shell Scripting
    - Visual Studio
    - Active Directory
    - Microsoft Entra
    - Microsoft Intune
    - KeyCloak
    - WireGuard
    - Suricata
    - FluentBit
    - Adobe Creative Cloud
    - Microsoft Office
  technologies:
    - ASP.NET Core
    - Vue.js
    - Node.js
    - Express.js
    - React
    - REST APIs
    - OIDC
    - Retrieval-Augmented Generation (RAG)
    - Machine Learning
    - SwiftProtobuf
    - Bootstrap
    - Webpack
    - WebSockets
    - Sparkle
    - Stripe Payments (API & webhooks)
    - Mailgun
  languages:
    - C#
    - Python
    - JavaScript
    - Swift
    - Java
    - HTML5
    - CSS/SCSS
    - SQL
  databases:
    - MongoDB
    - PostgreSQL
    - MySQL
    - SQLite
  expertise:
    - AI/ML & Legal Technology
    - Full Stack Web Development
    - Cloud-Native Deployments
    - Network Security
    - Agile Methodologies
    - Responsive Web Design
    - Data Visualization
---

<div>
  <h1 class="px-4">Skills</h1>

  <div class="card bg-primary shadow-soft border-light mb-4">
    <div class="card-body">
      <h4>Applications & Tools</h4>
      <div class="card-text mt-3">
        {% for tool in page.skills.tools %}
        <div class="rounded border-light px-3 py-1 mb-2 bg-primary shadow-inset mr-2 d-inline-block text-info font-weight-bold">{{ tool }}</div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card bg-primary shadow-soft border-light mb-4">
    <div class="card-body">
      <h4>Technologies</h4>
      <div class="card-text mt-3">
        {% for technology in page.skills.technologies %}
        <div class="rounded border-light px-3 py-1 mb-2 bg-primary shadow-inset mr-2 d-inline-block text-success font-weight-bold">{{ technology }}</div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card bg-primary shadow-soft border-light mb-4">
    <div class="card-body">
      <h4>Languages</h4>
      <div class="card-text mt-3">
        {% for language in page.skills.languages %}
        <div class="rounded border-light px-3 py-1 mb-2 bg-primary shadow-inset mr-2 d-inline-block text-secondary font-weight-bold">{{ language }}</div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card bg-primary shadow-soft border-light mb-4">
    <div class="card-body">
      <h4>Databases</h4>
      <div class="card-text mt-3">
        {% for database in page.skills.databases %}
        <div class="rounded border-light px-3 py-1 mb-2 bg-primary shadow-inset mr-2 d-inline-block font-weight-bold">{{ database }}</div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card bg-primary shadow-soft border-light mb-4">
    <div class="card-body">
      <h4>Industry Expertise</h4>
      <div class="card-text mt-3">
        {% for item in page.skills.expertise %}
        <div class="rounded border-light px-3 py-1 mb-2 bg-primary shadow-inset mr-2 d-inline-block text-danger font-weight-bold">{{ item }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
