<div class="card bg-primary shadow-soft border-light mt-6" id="stickysidebar">
  <div class="profile-image bg-primary shadow-inset border border-light rounded p-3 ml-3 mt-n5">
    <img src="{{ '/assets/img/pfp.jpg' | relative_url }}" class="card-img-top rounded" alt="Konstantin">
  </div>
  <div class="card-body">
    <h3 class="h5 mb-1 font-weight-bold">Konstantin Zaremski</h3>
    <span class="h6 font-weight-normal text-gray">Computer Science Student</span>
    <p class="card-text text-secondary mt-2"><i class="fas fa-map-marker mr-1"></i> Denver, Colorado</p>
    <div class="list-group shadow-inset rounded">
      <a class="list-group-item py-2{% if page.url == '/' %} bg-secondary text-white{% endif %}" href="{{ '/' | relative_url }}">
        <i class="fas fa-address-card mr-2"></i>Introduction
      </a>
      <a class="list-group-item py-2{% if page.url == '/education/' %} bg-secondary text-white{% endif %}" href="{{ '/education/' | relative_url }}">
        <i class="fas fa-graduation-cap mr-2"></i>Education
      </a>
      <a class="list-group-item py-2{% if page.url == '/experience/' %} bg-secondary text-white{% endif %}" href="{{ '/experience/' | relative_url }}">
        <i class="fas fa-briefcase mr-2"></i>Experience
      </a>
      <a class="list-group-item py-2{% if page.url == '/skills/' %} bg-secondary text-white{% endif %}" href="{{ '/skills/' | relative_url }}">
        <i class="fas fa-pencil-ruler mr-2"></i>Skills
      </a>
      <a class="list-group-item py-2{% if page.url contains '/projects' %} bg-secondary text-white{% endif %}" href="{{ '/projects/' | relative_url }}">
        <i class="fas fa-project-diagram mr-2"></i>Projects
      </a>
      <a class="list-group-item py-2{% if page.url == '/awards/' %} bg-secondary text-white{% endif %}" href="{{ '/awards/' | relative_url }}">
        <i class="fas fa-award mr-2"></i>Awards
      </a>
      <a class="list-group-item py-2{% if page.url contains '/blog' %} bg-secondary text-white{% endif %}" href="{{ '/blog/' | relative_url }}">
        <i class="fas fa-rss mr-2"></i>Blog
      </a>
      <a class="list-group-item py-2{% if page.url == '/contact/' %} bg-secondary text-white{% endif %}" href="{{ '/contact/' | relative_url }}">
        <i class="fas fa-phone mr-2"></i>Contact
      </a>
    </div>
  </div>
</div>
