<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-4">
        {% include sidebar.html %}
      </div>
      <div class="col-md-7 col-lg-8 pt-5">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
  {% include scroll-to-top.html %}

  <!-- jQuery (required for Bootstrap modals) -->
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Custom JS -->
  <script src="{{ '/assets/js/scroll-to-top.js' | relative_url }}"></script>
</body>
</html>
